.album-card {
   display: flex;
   padding: 20px 15px;
   align-items: center;
}

.album-card__info {
   display: flex;
   flex-direction: column;
   row-gap: 5px;
}

.album-card:not(:last-child) {
   border-bottom: 1px solid var(--color-light-20);
}

.album-card__cover {
   width: 68px;
   height: 68px;
   border-radius: 10px;
   margin-right: 15px;
}

.album-card__cover--empty,
.album-card__label--empty,
.album-card__author--empty,
.album-card__number--empty {
   background-color: var(--color-light-30);
   animation: shimmer 1s infinite;
}

.album-card__label {
   color: var(--base-light);
   font-weight: 600;
   font-size: 22px;
}

.album-card__label--empty {
   height: 22px;
   width: 100px;
   border-radius: 3px;
}

.album-card__author {
   color: var(--color-light-10);
   font-weight: 600;
   font-size: 20px;
}

.album-card__author--empty {
   height: 20px;
   width: 50px;
   border-radius: 3px;
}

.album-card__drag-button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--base-light);
   padding: 10px;
   border: 0;
   background: none;

   margin-left: auto;

   svg {
      stroke: var(--base-light);
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
   }
}

.album-card__drag-button--selectable {
   margin-left: 10px;
}

.album-card__number {
   color: var(--base-light);
   margin-right: 20px;
   font-size: 22px;
   width: 40px;
   text-align: center;
   font-weight: 600;
}

.album-card__number--empty {
   width: 25px;
   height: 25px;
   border-radius: 5px;
}

.album-card__delete-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   margin-left: auto;
   background: none;
   padding: 10px;

   svg {
      stroke: var(--base-light);
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      width: 28px;
      height: 28px;
   }
}

.album-card--unnecessary {
   border-left: 10px solid rgba(255, 0, 0, 0.2);
}

@keyframes shimmer {
   0% {
      opacity: 0.9;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0.9;
   }
}
