.perm-table {
   color: var(--base-light);
   width: 100%;

   th:not(:last-child),
   td:not(:last-child) {
      border-right: 1px solid var(--color-light-20);
   }

   .perm-table__row--minmax {
      color: red;
   }

   .perm-table__row--additive {
      color: green;
   }

   .perm-table__row--hamming {
      color: yellow;
   }

   tr {
      font-size: 20px;

      th {
         padding: 20px;
         justify-items: center;
         border-bottom: 1px solid var(--color-light-20);
      }
   }

   td {
      padding: 10px;
      text-align: center;
      font-size: 16px;
   }
}
