.rating-wrapper {
   position: relative;
   max-height: 766px;
   overflow: hidden;
   align-self: flex-start;
   flex-grow: 1;
}

.rating-list {
   position: relative;
   display: flex;
   flex-direction: column;
   row-gap: 0;

   max-height: inherit;
   padding-right: 15px;
   overflow-y: auto;
}

.rating-list__mask {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 50%;
   z-index: 1;
   pointer-events: none;

   background: linear-gradient(to bottom, #00000000 50%, #000000 100%);
}

.rating-list::-webkit-scrollbar {
   width: 5px;
}

.rating-list::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 4px;
}

.rating-list::-webkit-scrollbar-thumb {
   background-color: var(--color-light-10);

   border-radius: 10px;
}

.rating-list::-webkit-scrollbar-thumb:hover {
   background-color: var(--color-light-20);
}
