.control-button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--base-light);
   border-radius: 10px;
   padding: 10px;
   border: 0;
}

.control-button:hover {
   opacity: 0.8;
}

.control-button__image,
.control-button__text {
   width: 36px;
   height: 36px;
}

.control-button__text {
   align-items: center;
   justify-content: center;
   font-size: 20px;
}

.control-button--active {
   transform: scale(0.99);
   transform-origin: center;
   background-color: rgba(202, 202, 202, 0.8);
}

.control-button--wide {
   .control-button__text {
      width: auto;
   }
}
