.tournament-page {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 35px;
   padding-inline: 300px;
}

.tournament-page__header {
   color: var(--base-light);
   font-weight: bold;
   font-size: 36px;
   margin-bottom: 15px;
}
