.ranking-board-page {
   display: grid;
   grid-template-areas: "title button" "ranking ranking";
   align-items: center;
   justify-content: space-between;
   row-gap: 55px;
   width: 100%;
   padding: 100px 450px;
}

.ranking-board-page__title {
   color: var(--base-light);
   font-weight: bold;
   font-size: 36;
   grid-area: title;
}

.ranking-board-page__confirm-btn {
   grid-area: button;
   color: var(--base-dark);
   padding: 10px 50px;
   border-radius: 10px;
   background-color: var(--base-light);
   border: 0;
   font-size: 26px;
   justify-self: end;
}

.ranking-board {
   grid-area: ranking;
}

.ranking-board-page__confirm-btn:hover {
   opacity: 0.8;
}
